*.pyc
*.jpg
*.png
FPAR_egornn_twoStream.ipynb
GTEA61.zip
.ipynb_checkpoints/FPAR_egornn_twoStream-checkpoint.ipynb
GTEA61/.DS_Store
GTEA61/processed_frames2/.DS_Store
GTEA61/processed_frames2/S1/.DS_Store
GTEA61/processed_frames2/S1/close_chocolate/.DS_Store
GTEA61/processed_frames2/S1/close_chocolate/1/.DS_Store
GTEA61/processed_frames2/S4/.DS_Store
GTEA61/processed_frames2/S4/close_jam/.DS_Store
GTEA61/processed_frames2/S4/close_jam/1/.DS_Store
__MACOSX/._GTEA61
__MACOSX/GTEA61/._.DS_Store
__MACOSX/GTEA61/processed_frames2/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S1/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S1/close_chocolate/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S1/close_chocolate/1/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S4/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S4/close_jam/._.DS_Store
__MACOSX/GTEA61/processed_frames2/S4/close_jam/1/._.DS_Store
models